[Unit]
Description=Kernel Permissions for Guestmount (FireSim)

[Service]
ExecStart=/opt/bxe/firesim-guestmount.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

