[Unit]
Description=Program XDMA Shell

[Service]
ExecStart=/opt/program-xdma-shell.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
