[Unit]
Description=Xilinx XDMA Drivers (FireSim)

[Service]
ExecStart=/opt/bxe/firesim-xdma.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

